<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".HiltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/NordicTheme"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:theme="@style/NordicTheme.SplashScreen"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
              This intent filter allows opening the app from a notification.
              See BlinkyService in :ui module.
            -->
            <intent-filter>
                <action android:name="no.nordicsemi.android.blinky.action.CONTROL" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- param: no.nordicsemi.android.blinky.EXTRA_DEVICE - Device MAC address -->
                <!-- param: no.nordicsemi.android.blinky.EXTRA_NAME - (optional) device name -->
            </intent-filter>
        </activity>
    </application>

</manifest>